*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.layout{
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: none;
}

.studentForm{
    width: 25%;
    height: 20%;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.studentForm > div{
    display: flex;
    margin-bottom: 15px;
}
label{
    margin-right: 20px;
}
input{
    width: 100%;
}
#myButtons{
    display: flex;
    justify-content: center;
}
#submit{
    margin-right: 10px;
}
#logout{
    margin-left: 10px;
}

th, table, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 15px;
}

#modal{
    width: 20%;
    height: 15%;
    border: 1px solid black;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#modal > label{
    margin-bottom: 10px;
}
#modal > input{
    margin-bottom: 10px;
}