*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}
#playername{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 60%;
    text-align: center;
}
#layout{
    position: fixed;
    width: 40%;
    height: 17%;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 10px;
    display: none;
}

#question{
  text-align: center;
  margin-bottom: 15px;
}

#row1, #row2{
  display: flex;
  justify-content: space-evenly;
}
#row1{
    margin-bottom: 20px;
}

#a, #b, #c, #d {
  border: 1px solid black;
  padding: 5px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
}

#a:hover, #b:hover, #c:hover, #d:hover{
  background: black;
  color: white;
  transition: 0.5s ease-out;
}

#help{
  position: fixed;
  top: 0%;
  right: 10%;
  width: 300px;
  height: 100px;
  /* border: 1px solid black; */
  display: none;
  justify-content: space-around;
  align-items: center;
}

#fifty, #skip{
  border: 1px solid black;
  width: 80px;
  height: 40px;
  padding: 10px;
  border-radius: 40px;
  text-align: center;
}
#fifty:hover, #skip:hover{
    color: white;
    background: black;
    transition: 0.5s ease-out;
}

